body {
  background: rgb(221, 210, 210);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

header {
  margin: 0px;
  padding-top: 0px;
  background: lightblue;
  color: rgb(46, 42, 42);
  border-radius: 20px;
}

header h1 {
  margin:0;
}


header ul  {
  background: lightblue;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

header ul li {
  color: white;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  justify-content: right;

}

.center {
	text-align: center;
}

.mTop {
	margin-top: 20px;
}

.mBottom {
	margin-bottom: 20px;
}

.mLeft {
	margin-left: 20px;
}

.mRight {
	margin-right: 20px;
}

.mTopBottom {
	margin: 20px 0;
}

.mLeftRight {
	margin: 0 20px;
}

.mAll {
	margin: 20px;
}

.res {
	margin: 20px;
}

.about, .resume {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	margin: auto 0;
	padding-top: 30px;
}

.resume {
	align-content: flex-end;
	align-items: flex-start;
	justify-content: center;
	padding-top: 10px;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.project-bg {
	height: 200px;
	width: 350px;
	border-radius: 10px;
}

.project {
	display:inline-block;
	align-items:center;
	margin-left: 70px;
	margin-bottom: 30px;
}

.pic {
	border-radius: 10px;
	align-items: left;
}

.contactpic {
	border-radius: 8px;
	height: 300px;
	width: 275px;
}

.contact {
	display:inline-block
}

.contacticons {
	margin-left: 500px;
	align-items: right;
	justify-content:right;
	color: black;
}

button {
	background-color: #000000;
	color: #FFFFFF;
	float: right;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
