body {
  background: rgb(221, 210, 210);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

header {
  margin: 0px;
  padding-top: 0px;
  background: lightblue;
  color: rgb(46, 42, 42);
}

header h1 {
  margin:0;
}


header ul  {
  background: lightblue;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

header ul li {
  color: white;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  justify-content: right;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
