body {
  background: rgb(221, 210, 210);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

header {
  margin: 0px;
  padding-top: 0px;
  color: white;
  border-radius: 20px;
  background-color: rgb(236, 153, 167);
}

header h1 {
  margin:0;
}


header ul  {
    background-color: rgb(236, 153, 167);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

header ul li {
  color: white;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  justify-content: right;

}

.about {
	display: flex;
	padding: 30px;
}

.abouttext {
	padding: 50px;
}

.center {
	text-align: center;
}

.mTop {
	margin-top: 20px;
}

.mBottom {
	margin-bottom: 20px;
}

.mLeft {
	margin-left: 20px;
}

.mRight {
	margin-right: 20px;
}

.mTopBottom {
	margin: 20px 0;
}

.mLeftRight {
	margin: 15px;
}

.mAll {
	margin: 20px;
}

.res {
	margin: 20px;
}

.resume {
	display: flex;
	flex-wrap: wrap;
	align-content: right;
	align-items: right;
	justify-content: space-around;
	margin: auto 0;
	padding-top: 0px;
}

.resume {
	align-content: flex-end;
	align-items: flex-start;
	justify-content: center;
	padding-top: 10px;
}

.containerresume {
	align-items: flex-end;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.project-bg {
	height: 200px;
	width: 350px;
	border-radius: 10px;
}

.project {
	display:inline-block;
	align-items:center;
	margin-left: 70px;
	margin-bottom: 30px;
}

.pic {
	border-radius: 10px;
	display:inline-block
}

.contactpic {
	border-radius: 8px;
	height: 300px;
	width: 275px;
}

.contact {
	display:inline-block;
	padding: 30px;
}

.contacticons {
	/* margin-left: 500px; */
	/* align-items: center;
	justify-content: center; */
	color: black;
	padding: 200px;
}

.contact {
	display: flex;
}

.footericons {
	margin-left:600px;
}

button {
	background-color:rgb(236, 153, 167);
	color: #FFFFFF;
	/* float: right; */
	padding: 10px;
	border-radius: 10px;
	border-color: white;
}

.content {
	display: inline-block;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
